---
const { title } = Astro.props;
import Splash from "../components/Splash.astro";
import Nav from "../components/SiteNav.astro";
import Footer from "../components/Footer.astro";
import { getImage } from "astro:assets";

import headshot from "../assets/images/headshot.png";

const HeadshotLg = await getImage({
	src: headshot,
	width: 824,
	format: "webp",
});
const HeadshotMd = await getImage({
	src: headshot,
	width: 650,
	format: "webp",
});
const HeadshotSM = await getImage({
	src: headshot,
	width: 375,
	format: "webp",
});
---

<!doctype html>
<html lang="en">
	<head>
		<style>
			@font-face {
				font-family: "Nunito Sans";
				src: url("/fonts/NunitoSans_Black.ttf") format("truetype");
				font-weight: 900;
				font-display: "swap";
			}

			@font-face {
				font-family: "Nunito Sans";
				src: url("/fonts/NunitoSans_Regular.ttf") format("truetype");
				font-weight: 400;
				font-display: "swap";
			}

			@font-face {
				font-family: "Ostrich Sans";
				src: url("/fonts/ostrich-sans-regular.woff2");
				font-weight: normal;
				font-style: normal;
				font-display: "swap";
			}
		</style>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <script
			type="module"
			src="https://cdn.jsdelivr.net/npm/@friendlycaptcha/sdk@0.1.11/site.min.js"
			async
			defer></script>
		<script
			nomodule
			src="https://cdn.jsdelivr.net/npm/@friendlycaptcha/sdk@0.1.11/site.compat.min.js"
			async
			defer></script> -->
	</head>
	<body class="grid-page">
		<Splash>
			<picture class="headshot">
				<source
					type="image/webp"
					srcset={HeadshotSM.src}
					media="(max-width: 425px)"
					height="533"
					width="375"
				/>
				<source
					type="image/webp"
					srcset={HeadshotMd.src}
					media="(max-width: 1200px)"
					height="924"
					width="650"
				/>
				<img src={HeadshotLg.src} alt="" height="1174" width="824" />
			</picture>

			<h1 class="home-page-title">
				<span class="mobile-white-inline">Matthew</span>
				<span class="mobile-white-inline">Carey</span>
			</h1>
			<h2 class="sub-title">
				<span class="designer">A Creative<br />Designer</span>
				<span class="ampersand">
					<span class="visually-hidden">and</span>
					<img
						aria-hidden="true"
						src="ampersand.svg"
						alt="ampersand"
						width="23"
						height="25"
					/>
				</span>
				<span class="developer">
					<span class="front-end-title mobile-white-inline go-fuck">
						Front- End
					</span><br />
					<span class="mobile-white-inline go-fuck">Web</span><br />
					<span class="mobile-white-inline">Developer</span>
				</span>
			</h2>
			<div id="rectSolid"></div>
		</Splash>
		<Nav class:list={[" full"]} />
		<slot />
		<Footer />
	</body>
</html>
